<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net451" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net451" />
  <package id="Syncfusion.Edit.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.GridCommon.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.SfChromelessWindow.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.SfSkinManager.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.Shared.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.Themes.Metro.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="Syncfusion.Tools.WPF451" version="14.1.0.46" targetFramework="net451" />
  <package id="XamlSpyLibs" version="3.0.3" targetFramework="net451" />
</packages>